# Ignore node_modules for frontend
frontend/node_modules/

# Ignore vendor for backend
backend/vendor/

# Ignore environment files (which store sensitive info)
backend/.env
frontend/.env.local

# Ignore operating system files
.DS_Store
Thumbs.db
